################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScreenMonkey.Plugin.Clips.Bible/.vs/ScreenMonkey.Plugin.Clips.Bible/v16
/ScreenMonkey.Plugin.Clips.Bible/bin/Debug
/ScreenMonkey.Plugin.Clips.Bible/obj/Debug
